<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Bugz Bunny</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="components/jquery-3.1.0.min.js" type="text/javascript"></script>
        <script src="components/jquery.cookie.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
        <script src="js/angular/bugs.js" type="text/javascript"></script>
        <script src="js/angular/module.js" type="text/javascript"></script>
        <script src="js/angular/phone-list.component.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">
    </head>
    <body ng-app="bugsBunny" ng-cloak>
        <div ng-controller="AppCtrl" layout="row" layout-align="center">
            <div flex="70" layout="column">
                <div layout="row">
                    <md-input-container flex="20">
                        <label>Application</label>
                        <md-select id="apps" ng-model="app" data-th-data-selected="${appId}">
                            <md-option ng-repeat="app in apps" ng-value="appSelected">{{app}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex-offset="60" flex="20">
                        <label>Status</label>
                        <md-select id="statuses" ng-model="status" data-th-data-selected="${status}">
                            <md-option ng-repeat="status in statuses" ng-value="statusSelected">{{status}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row">
                    <phone-list></phone-list>
                </div>
            </div>
        </div>
    </body>
</html>
